*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
     
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
        
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
}
.jk-logo{
    font-size: 1rem;
    font-weight: bold;
    color: #17936c;

}
.logo{
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
 
}
.nav ul  {
    list-style: none;
    display: flex;
    gap: 2.3rem;
    text-decoration: none;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
  
}
.nav ul li a {
  position: relative;
  cursor: pointer;
  color: #413f3f;
  transition: color 0.3s;
  text-decoration: none;
 
}
.nav ul li a:hover {
  color: #d10e0e;
}
.nav ul li ::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #000;
  left: 0;
  bottom: -5px;
  transition: width 0.3s;
}
.cart-container{
    position: relative;
    display: flex;
}
.cart-icon{
    font-size: 24px;
    color: #333;
    cursor: pointer;
   align-items: center;

}
.cart{

    position: absolute;
    top: 40px;
    right: 0;
    width: 200px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
   padding: 15px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: 0.4s ease;

}


.cart-container:hover .cart {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}


.cart h3 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.cart p {
  text-align: center;
  padding: 20px;
  color: #777;
}
.gallery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainer {
  display: flex;
  gap: 80px;
  padding: 60px;
}

.main-image img {
  width: 350px;
  height: auto;
  border-radius: 20px;
}

.profile-magess{
   
    border-radius: 20%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
      padding: 40px;
  transition: transform 0.4s;
}
.profile-magess img {
  width: 40px;
  height: 40px;
}

.profile-magess img:hover{
  transform: scale(1.05);
border-color: #da3131;
}




.thumbnails {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.thumbnails img {
  width: 80px;
  padding: 6px;
  border-radius: 12px;
  cursor: pointer;
  background: #fff;
  transition: 0.3s;
}

.thumbnails img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.product-info{
  max-width: 400px;
  
  
}
.product-info h3{
  margin: 10px 0;
font-size: 16px;
line-height: 1.8;
color: #ce540e;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.product-info p{
   color: #666;
  line-height: 1.6;
  font-weight: 200;
  font-style: italic;
 
}
.product-info h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #000;
   margin: 10px 0;
  
  
}
.price {
  margin: 20px 0;
 
}

.current-price{
 
 font-weight: bold;
 font-size: 18px;
}
.discount {
  background: #000000;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 6px;
  margin-left: 10px;
}

.original-price {
  color: #605e5e;
  text-decoration: line-through;
}


.actions{
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.quantity{
  display: flex;
  align-items: center;
  gap: 15px;
  background: #f1f1f1;
  padding: 10px 15px;
  border-radius: 10px;
}
.quantity button{

    border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
}
.quantity button:active {
  transform: scale(0.9);
}

.quantity button:hover{
  color: #17936c;
   transform: translateY(-2px);
}
.add-to-cart-btn {
  flex: 1;
  border: none;
  background: #ff7a18;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.add-to-cart-btn:hover {
  background: #10e926;
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(255,122,24,0.4);
}
